
.card   {
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#mainNav {
    background-color: rgba(10, 10, 10, 0.877);
}

.nav-link {
    color: rgba(173, 171, 171, 0.959)  !important;

  
}
.navbar-toggler {
    color: whitesmoke !important;
}

.text-uppercase {
    text-align: center;
}


    

.my-0 {
    font-family: 'Oswald', sans-serif !important;

}

.masthead {
    background-image: url(assets/img/bg-masthead.png);
 
}

.titulo {
    color: rgb(178, 194, 34) !important;
    font-family: 'Oswald', sans-serif !important;
    -webkit-text-stroke: 2px black ;
}

.container--card {
    padding-top: 50px;
    padding-bottom: 20px;
}

.featured-text {
    border-left-width: 0px !important;
}

.projects-section {
    padding-bottom: 10px;
    padding-top: 50px;
}

.featured-text {
    padding-top: 30px;
    padding-bottom: 50px;
}

.btn {
    padding: 10px;
    margin: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}


.table {
    font-family: 'Staatliches', cursive;
    padding: 10px;
    border-collapse: collapse;
    font-size: 0.9em;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.table thead tr {
    background-color: rgb(241, 243, 106);
    text-align: center;
}

.table tbody tr:nth-of-type(even) {
    background-color:#f1f3e8;
}

.form-select {
    color:#6c757d
}

.container {
    max-width: 1180px;
    min-width: 100px;
}

.form-control {
    color: #6c757d !important;
}

.nav-link {
    cursor: pointer;
    margin: 1px;
}

