
@import "productos.scss";
@import "registrate.scss";
@import "bootstrap.scss";

$bgcolor: rgb(248, 247, 240) ;
@mixin size ($ancho, $alto) {
    height: $alto;
    width: $ancho;  
}



* { 
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Staatliches', cursive;
    background-color: $bgcolor !important

}

li {
    list-style: none;
    text-decoration: none;
}

.img--dimension {
    height: max-content;
}

// Header

.tituloNav {
    float: inline-end;
    color: rgb(226, 226, 80);
    padding-top: 10px;
}


// Productos

.productosUbicacion {
    display: flex !important;
    flex-wrap: wrap !important;
    margin: 30px;
    justify-content: space-evenly !important;
}

.cardProductos {
    margin: 15px;
    width: 18rem;
}

#boton-carrito {
    border: none;
    color: rgba(173, 171, 171, 0.959);
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.01);
    border-radius: 45%;
    padding: 5px 5px 5px 5px;
    transition: all .3s;
}
#boton-carrito:hover {
    cursor: pointer;
    color: rgb(178, 194, 34);
 
}
#boton-carrito:focus {
    outline: none;
}


.producto {
    max-width: 30%;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 2px 6px 3px 3px rgba(0, 0, 0, 0.3);
}

select{
    display: inline;
    text-align: center;
    border: 1px solid;
}

select:hover {
    cursor: pointer;
}


.modal-contenedor {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
    font-family: 'Abel', sans-serif;
    

}

.modal header {
    align-items: center;
}

.modal-active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0%);
}

.modal-carrito {
    position: relative;
    background-color: rgb(248, 247, 240);
    min-width: 500px;
    margin-top: -10%;
    transition: all 500ms ease;
}

.modal-active .modal-carrito {
    margin-top: 0;
}

#tituloModal {
    color: whitesmoke;
    background:rgba(129, 119, 29, 0.959);
    text-align: center !important;
}

.modal-carrito h5 {
    background-image: linear-gradient(rgb(178, 194, 34), rgb(105, 112, 39) );
    padding-right: auto;
    padding-left: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    
}
.modal-carrito #carritoCerrar {
    position: absolute;
    top: 2px;
    right: 2.5px;
    font-size: 20px;
    border: none;
    background-color: transparent !important;
}
.modal-carrito #carritoCerrar:hover {
    cursor: pointer;
}
.modal-carrito #carritoCerrar:focus {
    outline: none;
}
.modal-carrito .precioProducto {
    padding-top: 10px;
    
}

.subtituloEnCarrito {
    margin: 5px 0;
    padding: 5px 60px;
    display: flex;
    justify-content: space-between;
}

.productoEnCarrito {
    margin: 5px 0;
    padding: 5px 60px;
    padding-top: 2px;
    margin-top: 1px;
    display: flex;
    justify-content: space-between;
}

.productoEnCarrito:hover {
    border-left: none;
}



.boton-eliminar {
    background-color: rgb(248, 247, 240);
    border: none;
    height: 0;

 
}

.boton-eliminar:hover {
    cursor: pointer;
}
.boton-eliminar:focus {
    outline: none;
}

.precioProducto {
    padding-left: 190px;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
    box-shadow: rgba(0, 0, 0, 0.5);
}

.selectCuotas {
    
        display: inline;
        text-align: center;
        align-items: center;
        border: 1px solid rgb(201, 202, 196) !important;
}


.imgProductos {
    @include size(246px, 246px);
}

#botonGracias {
    margin-left: 180px;
    margin-top: 10px;
    margin-bottom: 10px;
}



// Mis Pedidos 

.formulario {
    background-color: $bgcolor;
    text-align: center;
 }

 #formularioPedido {
     width: 80%;
    text-align:start;
    margin-left: auto;
    margin-right:auto;
 }

#listaPedidos {
    width: 80%;
    text-align:center;
    margin-left: auto;
    margin-right:auto;
    margin-top: 30px;
}

.containerPedido {
    margin-top:30px;
    margin-bottom: 30px;
}

#pruebaPedido {
    background-color: white;
    padding: 50px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.cantidadMargen {
    margin-top: 15px;
}

.tableTotal {
    caption-side: bottom;
    border-collapse: collapse;
    text-align: center;
    width: 30%;
    padding: 50px;
    margin-right: 70px;
    background-color: none !important;
    
}





 
 /* Sobre nosotros*/

 .videoFabrica {
    height: 0px;
    padding-bottom: 56.25%;
    position: relative;
 }

 .videoFabrica iframe {
     position: absolute;
     top: 0;
     left: 0;
     height: 100%;
     width: 100%;

 }

 .containerVideo {
     width: 60%;
     margin: auto;
     margin-top: 50px;
     margin-bottom: 50px;
 }

// Registrate 

.containerForm {
    padding: 50px;
}

.datosVendedor {
    padding: 15px;
    margin: 5px;
    border: solid 1px black;
    border-radius: 0.25rem;
}





 
    
    
  

  







    


